
<body>
    <div style="height:500px ;width:450px;margin-left:200px;border-width:1px;border-style: solid;padding: 30px;">
        <div>
            <img src="https://assets.stickpng.com/images/5cb480b85f1b6d3fbadece78.png" alt="slack icon" width="140px" height="45px">
        </div>
        <div style="margin-top:20px ;">
            <h2 >Confirm your email address to get started on Slack</h2>
            <div style="white-space:wrap">
                <p style="white-space: wrap;">Once you've confirmed that <span style="color:blue ;"><%= email %></span> is your email address, we'll help you to find your Slack workspaces or create new one.</p>
            </div>
            <div>
                <div style="display:inline-block;margin: auto;" >
                    <img  style="display:inline-block;" src="https://as2.ftcdn.net/v2/jpg/01/29/94/01/1000_F_129940120_4MALfZZRuCYsiFi8KieMXDHusVXhJAzD.jpg" alt="mobile icon" width="10px" height="20px">
                    <div  style="display:inline-block;">
                        <span style="font-weight: bold;">From your mobile device,</span>
                        <span>tap the button below to confirm:</span>
                    </div>
    
                </div>
                
                <div style="margin-top:30px ;margin-bottom: 30px;">
                    <button type="button" style="border:none;background-color: rgb(5, 176, 5);color:white;width: 180px;height: 30px ;font-weight: bold;">Confirm Email Address</button>
                </div>
                <div >
                    <p>If you didn't request this email, there's nothing to worry about — you can safely ignore it.</p>
                </div>
            </div>
        </div >
        <hr style="margin-top: 30px;margin-bottom:30px">
        <div >
           
            <div style="text-align:center;font-size: small;">
                <p>Made by Slack Technologies, Inc</p>
                <p>500 Harward Street | San Francisco, CA 94105 | United States</p>
                <p><span style="text-decoration:underline ;">Our Blog</span> <span style="margin-left:20px ;margin-right: 20px;text-decoration:underline ;">Email Preferences</span> <span style="text-decoration:underline ;">Policies</span></p>
            </div>
        </div>

    </div>
</body>
